.container {
    display: flex;
    padding-top: 90px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    padding-bottom: 25px;
}

.background {
    width: 100%;
    height: 100%;
}

.container h2 {
    align-self: flex-start;
}

.content {
    align-self: flex-start;
    display: flex;
    width: 100%;
}
.content p {
    font-size: 20px;
    align-self: flex-start;
}

.descr {
    width: 400px;
    color: #6B8490;
}

.img {
    margin-left: 100px;
    position: relative;
    z-index: 1;
}

.img::after {
    background-color: #3E7D80;
    content: '';
    width: 100%;
    padding: 2px;
    height: 100%;
    position: absolute;
    display: block;
    top: 20px;
    left: 20px;
    z-index: -1;
}

.skills {
    color: #fff;
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
}

.skills div {
    margin-right: 15px;
    padding-bottom: 10px;
}

@media (max-width: 600px) {
    .descr {
        width: 90%;
    }
    .content {
        flex-direction: column;
    }
}