
.container {
    width: 100%;
    padding: 5px;
    background-color: #252930;
    border-bottom: 1px solid #6B8490;
}

.nav {
    color: #FFF;
    display: flex;
}

.nav ul {
    list-style: none;
}
.nav ul:hover {
    cursor: pointer;
    color: #6B8490;
}