.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.container h2 {
    margin: 80px 0;
}

.projectContent {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%
}

.project {
    max-width: 400px;
}
.project h4 {
    font-size: 27px;
    color: #6B8490;
}

.img:hover {
    -webkit-filter: grayscale(50%);
    cursor: pointer;
    filter:  grayscale(50%);
}

.externalLink {
    position: absolute;
    visibility: hidden;
    z-index: 1;
    top: 150px;
    left: 160px;
    filter: brightness(0.5)
            sepia(1);
}
.externalLink:hover {
    visibility: visible;
}