.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.container h2 {
    margin: 50px 0;
}

.projectContent {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%
}

.project {
    width: 400px;
}
.project h4 {
    font-size: 27px;
    color: #6B8490;
}

.iconStyle:hover {
    cursor: pointer;
}

.img:hover {
    -webkit-filter: grayscale(50%);
    cursor: pointer;
    filter:  grayscale(50%);
}

@media (min-width: 600px) {
    .project {
        margin: 20px;
    }
}